farama-notifications==0.0.4
fastapi==0.115.0
uvicorn[standard]==0.34.0
python-multipart==0.0.20

gym==0.26.1
gymnasium==0.29.1
gymnasium[box2d]==0.29.1
gymnasium[classic-control]==0.29.1
gymnasium[other]==0.29.1
gymnasium[toy-text]==0.29.1

moviepy==1.0.3
matplotlib==3.8.4
numpy==1.26.4
openai==1.66.2
optuna==3.6.1
opencv-python==4.11.0.86
optuna-dashboard==0.17.0
pandas==2.3.1
pillow==11.1.0
pygame==2.6.1
PyYAML==6.0.2
pyarrow==16.1.0
sentence-transformers==3.4.1
sb3-contrib==2.3.0
scipy==1.15.2
seaborn==0.13.2
SQLAlchemy==2.0.39
stable-baselines3==2.3.2
tqdm==4.67.1
vl-convert-python==1.8.0
yq==3.4.3

# Torch stack
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# Paddle paddle for the chartist task
altair==5.5.0
shimmy==1.3.0
paddlepaddle==2.6.2
paddleocr==2.10.0
cairosvg